02-advanced-automation/ALB_FLOW 3_SOAN EMAIL.json
{
  "name": "ALB_FLOW 3",
  "nodes": [
    {
      "parameters": {},
      "id": "bffad2d4-05fb-45c6-acd6-2e4b23664a35",
      "name": "Bấm soạn nháp",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kU1hP5zpGh7DjhAee8wmfCALQwfy2fQgzCkz4Eao_HM",
          "mode": "list",
          "cachedResultName": "FUTU1_ggsheet3_soan_thao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kU1hP5zpGh7DjhAee8wmfCALQwfy2fQgzCkz4Eao_HM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24830730,
          "mode": "list",
          "cachedResultName": "SoanThao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kU1hP5zpGh7DjhAee8wmfCALQwfy2fQgzCkz4Eao_HM/edit#gid=24830730"
        },
        "options": {}
      },
      "id": "d5f77516-069a-42d7-abe6-012365435a6d",
      "name": "Đọc yêu cầu soạn",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        192,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nETlz35akwoXb5vW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8edd3b6f-51b0-4e07-b608-350cf11c44d4",
              "leftValue": "={{ $json['Trạng thái'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b03cfc8-2569-438d-a766-cd5e00094e22",
      "name": "Chỉ soạn dòng chưa xử lý",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        720
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là trợ lý hành chính của Viettel Network, soạn văn bản công sở tiếng Việt chuẩn mực, đúng văn phong doanh nghiệp. Dựa trên thông tin bên dưới, soạn nội dung HOÀN CHỈNH có lời chào mở đầu và lời kết phù hợp với giọng văn yêu cầu.\n\nLoại văn bản: {{ $json['Loại văn bản'] }}\nNgười nhận: {{ $json['Người nhận'] }}\nGiọng văn: {{ $json['Giọng văn'] }}\nCác ý chính cần triển khai: {{ $json['Ý chính'] }}\n\nTrả về DUY NHẤT một JSON gồm 2 trường: tieu_de (dòng tiêu đề ngắn gọn) và noi_dung (toàn bộ nội dung văn bản hoàn chỉnh)."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "a3827edd-9234-4350-a07a-22d8cdebd4d9",
      "name": "Gemini soạn thảo",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        496
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "Qdu8dN3k49KS9uZy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bfa731d-45ca-4fb5-b2ca-0d1c7954b86d",
              "name": "row_number",
              "value": "={{ $('Đọc yêu cầu soạn').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "174076c3-9711-4b04-9fb7-bc386973c6f4",
              "name": "Tiêu đề",
              "value": "={{ JSON.parse($json.content.parts[0].text).tieu_de }}",
              "type": "string"
            },
            {
              "id": "1aaff449-f33c-4672-ba92-259bceea4863",
              "name": "Nội dung hoàn chỉnh",
              "value": "={{ JSON.parse($json.content.parts[0].text).noi_dung }}",
              "type": "string"
            },
            {
              "id": "e1c02784-f575-409c-a55d-c73ff6f3e941",
              "name": "Trạng thái",
              "value": "Chờ duyệt",
              "type": "string"
            },
            {
              "id": "6d3dacd5-2a5e-4c8d-8fcd-49d608426a27",
              "name": "Email người nhận",
              "value": "={{ $('Đọc yêu cầu soạn').item.json['Email người nhận'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a07316c3-f239-4368-a458-51cb3828060a",
      "name": "Tách nháp (Edit Fields)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        640
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json['Tiêu đề'] }}",
        "message": "={{ $json['Nội dung hoàn chỉnh'] }}",
        "options": {
          "sendTo": "={{ $json['Email người nhận'] }}"
        }
      },
      "id": "c7fffde3-8453-4a06-9202-32b1b1ecec14",
      "name": "Tạo email nháp (Gmail Draft)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1232,
        560
      ],
      "webhookId": "234497a8-153f-4d69-84fb-7ef769fdbecc",
      "credentials": {
        "gmailOAuth2": {
          "id": "gp6OOGWMgrqJAc9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kU1hP5zpGh7DjhAee8wmfCALQwfy2fQgzCkz4Eao_HM",
          "mode": "list",
          "cachedResultName": "FUTU1_ggsheet3_soan_thao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kU1hP5zpGh7DjhAee8wmfCALQwfy2fQgzCkz4Eao_HM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24830730,
          "mode": "list",
          "cachedResultName": "SoanThao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kU1hP5zpGh7DjhAee8wmfCALQwfy2fQgzCkz4Eao_HM/edit#gid=24830730"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tiêu đề": "={{ $json['Tiêu đề'] }}",
            "Nội dung hoàn chỉnh": "={{ $json['Nội dung hoàn chỉnh'] }}",
            "Người nhận": "={{ $('Đọc yêu cầu soạn').item.json['Người nhận'] }}"
          },
          "matchingColumns": [
            "Người nhận"
          ],
          "schema": [
            {
              "id": "Loại văn bản",
              "displayName": "Loại văn bản",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người nhận",
              "displayName": "Người nhận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email người nhận",
              "displayName": "Email người nhận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ý chính",
              "displayName": "Ý chính",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Giọng văn",
              "displayName": "Giọng văn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tiêu đề",
              "displayName": "Tiêu đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung hoàn chỉnh",
              "displayName": "Nội dung hoàn chỉnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c9aac23c-aeee-490a-8385-92ca28414fff",
      "name": "Ghi nháp vào Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1232,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nETlz35akwoXb5vW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Bấm soạn nháp": {
      "main": [
        [
          {
            "node": "Đọc yêu cầu soạn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc yêu cầu soạn": {
      "main": [
        [
          {
            "node": "Chỉ soạn dòng chưa xử lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chỉ soạn dòng chưa xử lý": {
      "main": [
        [
          {
            "node": "Gemini soạn thảo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini soạn thảo": {
      "main": [
        [
          {
            "node": "Tách nháp (Edit Fields)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách nháp (Edit Fields)": {
      "main": [
        [
          {
            "node": "Tạo email nháp (Gmail Draft)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ghi nháp vào Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "27b001e2-cf2f-4669-bdfd-3a38e1d32fe1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50425052517c85d790d358dbca5eb9f58cfd8be6dd0024c255395f9ba2a8036b"
  },
  "nodeGroups": [],
  "id": "4S2TriGNqd67zEGH",
  "tags": []
}